@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    flex-direction: column;
}

.header{
    font-family: "Bungee", serif;
    font-size: 3rem;
    padding: 0 400px;
    text-align: center;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

.btn{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 60px;
    color: #f4f4f4;
    font-size: 1.3rem;
    transition: all 0.5s ease-out;
}

.btn:hover{
    transform: scale(1.04);
}