.btn{
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 60px;
    color: black;
    font-size: 1.3rem;
    transition: all 0.5s ease-out;
}

.btn:hover{
    transform: scale(1.04);
}